html, body{
    font-family: 'Open Sans', sans-serif;
}

[class*=sidebar-dark-] {
    background-color: #3D4448;
}

h1, h2, h3, h4{
    font-family: 'Lato', sans-serif;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #00A9DD;
    color: #fff;
}

.btn-primary{
    background-color: #00A9DD;
    border-color: #00A9DD;
}

.btn-primary:hover{        
    background-color: #0090dd;
    border-color: #0090dd;
}